@tailwind base;
@tailwind components;
@tailwind utilities;
 
@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 237 17% 19%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;
 
    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;
 
    --primary: 43 95% 75%;
    --primary-foreground: 236 22% 14%;
 
    --secondary: 237 17% 19%;
    --secondary-foreground: 0 0% 100%;
 
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;
 
    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;
 
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;
 
    --radius: 0.5rem;
  }
 
  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;
 
    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;
 
    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;
 
    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;
 
    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;
 
    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;
 
    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;
 
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;
 
    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
  }
}
 
@layer base {
  * {
    @apply border-border;
  }
  html{
    scroll-behavior: smooth;
  }
  body {
    @apply font-sans bg-background text-foreground;
  }
  .wrapper {
    @apply min-h-screen flex flex-col;
  }
  .section {
    @apply py-14 xl:py-24 bg-background;
  }
  .heading{
    @apply flex flex-col text-center mx-auto;
  }
  .heading-1 {
    @apply text-4xl md:text-[54px] font-semibold;
    line-height: 130%;
  }
  .heading-2 {
    @apply text-3xl md:text-5xl font-semibold;
    line-height: 130%;
  }
  .heading-3 {
    @apply text-2xl md:text-4xl font-semibold;
    line-height: 130%;
  }
  .heading-4 {
    @apply text-xl md:text-4xl font-semibold;
    line-height: 130%;
  }
  .heading-5 {
    @apply text-lg md:text-3xl font-semibold;
    line-height: 130%;
  }
  .heading-6 {
    @apply text-lg md:text-2xl font-semibold;
    line-height: 130%;
  }
  .paragraph {
    @apply text-sm md:text-base font-normal;
    line-height: 175%;
  }
  .link {
    @apply inline-flex items-center gap-4 text-lg font-medium text-link transition-colors duration-300 hover:text-link-secondary;
  }
  .marketing-grid {
    @apply flex flex-col;
  }
  .marketing-grid > .marketing-card:nth-child(odd),
  .marketing-grid > *:nth-child(odd) > .marketing-card {
    --direction: row-reverse;
  }
}