.featured-grid {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 284px);
}
.featured-grid>:nth-child(1){
    grid-column: span 2;
    grid-row: span 2;
}
.grid {
    @apply grid-cols-[repeat(auto-fill,_minmax(min(400px,_100%),_1fr))] gap-8 gap-y-12 lg:gap-y-16;
}
.card {
    @apply relative h-60 lg:h-full;
    overflow: hidden;
}
.card:hover .card-body {
    max-width: 414px;
}
.card-image {
    @apply object-cover;
}
.card-body {
    @apply relative text-white h-full transition-all duration-700;
    max-width: 0;
    background: linear-gradient(329deg, #1C1E53 -10.96%, rgba(28, 30, 83, 0.42) 103.96%);
}
.card-content {
    @apply p-8 overflow-hidden;
}
.featured-grid>:nth-child(1) .card-content{
    @apply lg:h-1/2;
}
.card-link {
    @apply text-primary hover:text-primary/70 truncate mt-auto;
}
.preview-image-wrap {
    @apply p-4 lg:p-8;
    background: linear-gradient(131deg, #F4EDE1 16.74%, #98B1C6 103.17%);
}
.preview-image {
    @apply w-full object-cover aspect-video;
}
.filter {
    @apply flex flex-wrap items-center justify-center gap-4 -mx-4 sm:mx-0;
}
.filter-list {
    @apply flex sm:flex-wrap gap-x-2 sm:gap-x-8 gap-y-3 items-center sm:justify-center text-foreground/70 hover:text-foreground/70 text-base lg:text-lg capitalize overflow-x-auto;
    scrollbar-width: none;
}